!!!
html(lang="ja", ng-app)

  head
    meta(charset="utf-8")
    title Slider MVC

    link(rel="stylesheet", href="css/raphaelicons.css", media="screen")
    link(rel="stylesheet", href="css/common.css", media="screen")

    script(src="js/lib/modernizr.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="js/lib/angular.min.js")
    script(src="js/angular-slider.js")

  body
    #wrapper(ng-controller="mainCtrl")
      header
        h1 Angular Demo
      section#mainSlider
        ul.slideContainer
          li.slideContent(ng-repeat="data in dataList")
            img(ng-src="image/{{data.url}}", width="640")
        .arrows
          span.icon.arrowLeft(ng-click="slideNumber.decrease()", ng-class="{ac: slideNumber.val != 0}") <
          span.icon.arrowRight(ng-click="slideNumber.increase()", ng-class="{ac: slideNumber.val != dataLength}") =
        nav.slideNavi
          ul
            li.slideNaviList(
              ng-repeat="number in dataNumbers",
              ng-click="slideNumber.set(number)",
              ng-class="{ac: slideNumber.val == number}"
            )
              img(ng-src="image/{{dataList[number].url}}", width="110")
      section#mainContent
        .slideDescription.ac
          h2 {{dataList[slideNumber.val].title}}
          p {{dataList[slideNumber.val].description}}